
services:
  onenote-rag:
    image: ghcr.io/alexbgoode/onenote-rag
#    build: .
    container_name: onenote_rag
    restart: unless-stopped
    environment:
      - MS_CLIENT_ID=${MS_CLIENT_ID}
    command: sh -c "python auth.py && sleep 60"
    volumes:
      # Single mount - everything works automatically
      - ~/.onenote_rag:/home/appuser/.onenote_rag:rw
